@import '../colors';

.containerNav{
  width: 100%;
  background-color: $red600;
  color: white;
}

.navbar{
  width: 95%;
  max-width: 1280px;
  height: 4rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img{
  width: 12rem;
}

.navMenu{
  display: flex;
  align-items: center;

  & div{
    padding: 5px 10px;
    font-weight: 600;
    border-radius: 5px;

    &:hover{
      background-color: rgba(0, 0, 0, 0.377);
    }
  }
}